/* div that contains hello-message */
.message-container{
    display:grid;
    grid-template-columns: 70% 30%; 
}
/* message if the user is logged in */
.hello-message{
    display:flex;
    justify-self: end;
    color:#FF4500;
    margin-right: 12px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 24px;
}
/* for logout button */
.logout-button{
    display:flex;
    justify-self:start;
}
/* div that contains buttons */
.button-container{
    display:grid;
    grid-template-columns: 70% 30%;
    
}
/* button for logging in */
.login-button{
    display:flex;
    justify-self: end;
}
/* button to register */
.register-button{
    display:flex;
    /* justify-items: left; */
    justify-self: start;
}